.grid {
  box-sizing: content-box;
  padding: 0;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
}
.cell {
  width: 30px;
  height: 30px;
  outline: 1px solid lightgray;
  display: inline-block;
}
.acorn {
  background-image: url(./icons/acorn.svg);
}
.chipmunkHead {
  background-image: url(./icons/chipmunk.svg);
}
.tail {
  background: #9F7267;
  border-radius: 50%;
}
.ml {
  margin-left: 4rem;
}